html{
	background: rgb(192, 222, 237);
	margin: 0;
	padding: 0;
}
body{
	background: none;
	background-repeat: no-repeat;
	background-image: url('/twitter/css/bg.png');
	margin-top: -10px;
}
h1{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
	font-weight: normal;
	text-transform: uppercase;
}
.container{
	width: 100%;
	height: 964px;
	max-height: 964px;
	overflow: auto;
}
.content{
	width : 1280px;
	margin: auto;
}
.tweetContainer{
	width: 590px;
	margin: auto;
	background: white;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 5px;
}
.hour{
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	color: #8899a6;
	margin-bottom: 0;
}
.tweet{
	padding: 10px 20px;
	font-weight: bold;
	margin-bottom: 0;
}
.bottom{
	height: 30px;
	color: #0084B4;
}
.retweet,
.favorite{
	float: left;
	width: 255px;
	padding: 0 20px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 0;
}
.tag{
	width: 590px;
	margin: auto;
	background: white;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 5px;
}
.tagName,
.tagCount{
	float: left;
	padding: 0 20px;
	text-align: center;
	line-height: 50px;
	margin-bottom: 0;
	height: 50px;
	color: #0084B4;
	font-size: 16px;
}
.tagCount{
	width: 60px;
	color: black;
}
.tagName{
	border-right: 2px solid #CECECE;
	width: 448px;
	font-weight: bold;
}
#chart_div{
	width: 1024px;
	margin: 20px auto;
}